@media screen and (max-width: 600px) {
  .nav a {
    display: none;
  }

  .burgerIcon {
    float: right;
    display: block;
    position: relative;
    right: 15px;
    top: 12px;
    background: inherit;
    border: none;
  }

  .nav.responsive {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0px;
  }

  .nav.responsive .burgerIcon {
    position: absolute;
    right: 0;
    top: 5;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background: #dddd;
    border-bottom: solid 1px #dddddd;
    
  }
  .nav.responsive a:hover {
  background-color:lightgreen;
}
.logo{
  width: 100px;
  position: relative;
  top: 15px;
  left: 20px;
  padding: 0px 0px 7px 0px;
}
.header{
  /* border: solid black 1px; */
  padding: 0px 0px 20px 0px;
}
.reza{
  display: none
}
.ahmadi{
  display: block;
  font-size: 26px;
  top: 10px;
  color: red;
}
.banner{
  height: 578px;
  background: gold;
  text-align: center;
}
}